* {
    margin: 0;
}

body {
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    background: url(./assets/main-image.png), #573824;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(6px);
}

#container {
    box-sizing: border-box;
    width: 800px;
    margin: 48px auto 0;
    padding: 24px;
    background: #F0E8C2;
    /*border: red 2px solid;*/
    border-radius: 24px;
}

#container > * {
    margin-bottom: 24px;
}

.parent:not(:last-child()) > * {
    margin-bottom: 4px;
}

/* Typography */

h1 {
    font-size: 40px;
    line-height: 140%;
    color: #291B1A;
}

h2 {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 4px;
    color: #291B1A;
}

p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 12px; 
    color: #573A37;
}

ul li {
    color: #573A37;
    margin-bottom: 8px;
}

img {
    width: 100%;
    height: 400px;
    border-radius: 16px;
}

footer {
    text-align: center;
    color: #F0E8C2;
    padding: 28px 0 48px;
}